{% extends 'base_copy.html' %}
{% block content %}


    <!-- <div class="pageHome"> -->
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Current Tasks
                    </div>
                    <div class="card-body">
                        <span>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/task" class="list-group-link custom-link">Apply to 25 internships (weekly) (3 pt)</a></li>
                                <li class="list-group-item"><a href="/task" class="list-group-link custom-link">Attend Asper Center Pitch Summit (3/8/2024) (1 pt)</a></li>
                                <li class="list-group-item"><a href="/event" class="list-group-link custom-link">Guest Speaker Series: International Business Trends (3/15/2024) (1 pt)</a></li>
                                <li class="list-group-item"><a href="/event" class="list-group-link custom-link">Networking Event: Alumni Mixer (4/2/2024) (1 pt)</a></li>
                                <li class="list-group-item"><a href="/event" class="list-group-link custom-link">Case Competition: Global Strategy Challenge (4/20/2024) (1 pt)</a></li>
                            </ul>
                        </span>
                        
                    </div>
                    <div class="card-body">
                        <canvas id="myAreaChart" width="100%" height="40"></canvas> 
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Current Rank
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="mb-3">Rank</h5>
                                <h2 class="display-5">219</h2>
                            </div>
                            <div class="col-md-6">
                                <h5 class="mb-3">Points</h5>
                                <h2 class="display-5">83</h2>
                            </div>
                        </div>



                        <table id="rankingsTable" class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Student Name</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>215</td>
                        <td>Alex Johnson</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>216</td>
                        <td>Emma Stone</td>
                        <td>92</td>
                    </tr>
                    <tr>
                        <td>217</td>
                        <td>Michael Brown</td>
                        <td>88</td>
                    </tr>
                    <tr>
                        <td>218</td>
                        <td>Sarah Wilson</td>
                        <td>85</td>
                    </tr>
                    <tr class="highlighted-row" style="background-color: #f0f8ff;">
                        <td>219</td>
                        <td>Jiahao</td>
                        <td>83</td>
                    </tr>
                    <tr>
                        <td>220</td>
                        <td>Olivia Davis</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>221</td>
                        <td>William Thompson</td>
                        <td>78</td>
                    </tr>
                    <!-- Add more rows as needed -->
                    <tr>
                        <td>222</td>
                        <td>John Smith</td>
                        <td>75</td>
                    </tr>
                    <tr>
                        <td>223</td>
                        <td>Emily Johnson</td>
                        <td>72</td>
                    </tr>
                    <tr>
                        <td>224</td>
                        <td>James Gordon</td>
                        <td>70</td>
                    </tr>
                    </tbody>
                    </table>




                        <!-- <canvas id="myAreaChart" width="100%" height="40"></canvas> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Newsletter
                    </div>
                    <div class="card-body"> <div class="card mb-4" style="margin: 0px 0px 5px 5px;">
                        <div class="card-body">
                            <h4>Special Members Only Event!!!</h4>
                         
    
                            <p>📅 Save the Date: Feburary 17th 2024</p>
                            <p>📍 Location: Brandeis IBS Campus.</p>
                        </div>
                    </div>
                    <div class="card mb-4" style="margin: 0px 0px 5px 5px;">
                        <div class="card-body">
                            <h4>Talk by James Gordon</h4>

                        </div>
                    </div>
                    <div class="card mb-4" style="margin: 0px 0px 5px 5px">
                        <div class="card-body">
                            <h4>Extra Special Live Special!</h4>

                        </div>
                    </div></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Add a widget
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <!-- <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Rankings
            </div>

        </div> -->

        <!-- <div class="section" id="leftSection">
            <div id="activeTask"></div>
        </div>

        <div class="section"  id="middleSection">
        </div>
        <div class="section"  id="rightSection">
        </div> -->
    <!-- </div> -->


{% endblock %}
    
{% block head %}
    <link rel="stylesheet" href="/static/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="static/ranking_chart.js"></script>
{% endblock %}

