{% extends 'base.html' %}
{% block content %}


    <div class="pageHome">
        <div class="section" id="leftSection">
            <div id="activeTask"></div>
        </div>

        <div class="section"  id="middleSection">
        </div>
        <div class="section"  id="rightSection">
        </div>

        <!-- <div class="taskContainer">


        </div> -->







        <!-- <h1>Home????</h1>
        {% if current_user.is_authenticated %}
        Hi {{ current_user.username }}!
        {% endif %} -->


    </div>


{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}

