{% extends 'base_copy.html' %}
{% block content %}

                <h1 class="mt-4">Newsletter</h1>
                <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="\">Dashboard</a></li>
                        <li class="breadcrumb-item active">Newsletter</li>
                    </ol>
                    
                    <div style="display:flex">
                        <div class="card mb-4" style="margin: 0px 0px 5px 5px;">
                            <div class="card-body">
                                <h1>Special Members Only Event!!!</h1>

                                This page is an example of using the light side navigation option. By appending the
                                <code>.sb-sidenav-light</code>
                                class to the
                                <code>.sb-sidenav</code>
                                class, the side navigation will take on a light color scheme. The
                                <code>.sb-sidenav-dark</code>
                                is also available for a darker option.
                            </div>
                        </div>
                        <div class="card mb-4" style="margin: 0px 0px 5px 5px;">
                            <div class="card-body">
                                <h1>Talk by James Gordon</h1>

                                This page is an example of using the light side navigation option. By appending the
                                <code>.sb-sidenav-light</code>
                                class to the
                                <code>.sb-sidenav</code>
                                class, the side navigation will take on a light color scheme. The
                                <code>.sb-sidenav-dark</code>
                                is also available for a darker option.
                            </div>
                        </div>
                        <div class="card mb-4" style="margin: 0px 0px 5px 5px">
                            <div class="card-body">
                                <h1>Extra Special Live Special!</h1>

                                This page is an example of using the light side navigation option. By appending the
                                <code>.sb-sidenav-light</code>
                                class to the
                                <code>.sb-sidenav</code>
                                class, the side navigation will take on a light color scheme. The
                                <code>.sb-sidenav-dark</code>
                                is also available for a darker option.
                            </div>
                        </div>
                    </div>

                            <div class="card mb-4">
                                <div class="card-body">
                                    <h1>More Events</h1>
    
                                    This page is an example of using the light side navigation option. By appending the
                                    <code>.sb-sidenav-light</code>
                                    class to the
                                    <code>.sb-sidenav</code>
                                    class, the side navigation will take on a light color scheme. The
                                    <code>.sb-sidenav-dark</code>
                                    is also available for a darker option.
                                </div>
                            </div>



{% endblock %}

{% block head %}
{% endblock %}

