{% extends 'base_copy.html' %}
{% block content %}

                <h1 class="mt-4">Newsletter</h1>
                <!-- <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="\">Dashboard</a></li>
                        <li class="breadcrumb-item active">Newsletter</li>
                    </ol> -->
                    
                    <div style="display:flex; flex-wrap: wrap;">
                        <div class="card mb-4" style="flex: 1 1 300px; margin-right: 5px;">
                            <div class="card-body">
                                <h1>Special Members Only Event!!!</h1>
                             
        
                                <p>📅 Save the Date: Feburary 17th 2024</p>
                                <p>📍 Location: Brandeis IBS Campus.</p>
                                
                                <p>Join us for a day of insightful keynote sessions, dynamic panel discussions, and interactive workshops led by industry trailblazers. Explore the latest trends, strategies, and technologies shaping the business landscape, and gain a competitive edge in today's fast-paced world of commerce.</p>
        
                                <p>🔍 Highlights Include:</p>
                                <ul>
                                    <li>Keynote addresses from top business leaders</li>
                                    <li>Panel discussions on emerging industry trends</li>
                                    <li>Hands-on workshops for practical skills development</li>
                                    <li>Networking opportunities with professionals and peers</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mb-4" style="flex: 1 1 300px; margin-right: 5px; margin-left: 5px;">
                            <div class="card-body">
                                <h1>Talk by James Gordon</h1>
                                <p>📅 Save the Date: March 17th 2024</p>
                                <p>📍 Location: Brandeis IBS Campus.</p>
                                <p>🌐 Topic: "Navigating the Future: Trends and Strategies in Modern Business"</p>
                                <ul>
                                    <li>Insights into emerging business trends</li>
                                    <li>Strategies for adapting to technological advancements</li>
                                    <li>Practical tips for effective leadership in the digital age</li>
                                    <li>Q&A session for personalized guidance</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mb-4" style="flex: 1 1 300px; margin-left: 5px;">
                            <div class="card-body">
                                <h1>Alumni Networking Event</h1>

                                <p>📅 Save the Date: March 17th 2024</p>
                                <p>📍 Location: Brandeis IBS Campus.</p>

                                <p>💼 Unlock New Opportunities: Brush shoulders with successful alumni, explore potential career paths, and dive into industry-specific networking sessions. Your next big opportunity could be just one conversation away!</p>


                            </div>
                        </div>
                    </div>

                            <div class="card mb-4">
                                <div class="card-body">
                                    <h1>More Events</h1>
                                    <ul>
                                        <li>How to Network 101 led by IBS alumni</li>
                                        <li>Economic Research Workshop</li>
                                    </ul>
                                </div>
                            </div>



{% endblock %}

{% block head %}
{% endblock %}

