{% extends 'base_copy.html' %}
{% block content %}

                <h1 class="mt-4">Task</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Task TItle
                    </div>
                    <div class="card-body">Task Desc</div>

                    <form>
                        <input type="file"></input>
                        <button type="submit">le button</button>
                    </form>

                </div>
               


{% endblock %}

{% block head %}
{% endblock %}

